Repository d-kimuson/claude-code-viewer: changes, and which lefthook commands are due for each by the changed paths.
All: biome-lint, biome-format, lingui-extract

lefthook.yml:

pre-commit:
  commands:
    biome-lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm exec biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    biome-format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm exec biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    lingui-extract:
      glob: "**/*.{ts,tsx}"
      run: pnpm lingui:extract && pnpm lingui:compile && git add src/lib/i18n/locales

fix: handle missing task directories gracefully and improve task sidebar UI
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionSidebar/TasksTab.tsx
  src/lib/api/tasks.ts
  src/server/core/tasks/services/TasksService.test.ts
  src/server/core/tasks/services/TasksService.ts
Due: biome-lint, biome-format, lingui-extract

chore: update agent sdk version
  package.json
  pnpm-lock.yaml
Due: biome-lint, biome-format

chore: release v0.5.9
  CHANGELOG.md
  package.json
Due: biome-lint, biome-format

chore(deps): update all dependencies
  package.json
  pnpm-lock.yaml
Due: biome-lint, biome-format

chore: moved commit msg section to guideline
  CLAUDE.md
Due: none

refactor: remove claude-code sdk and discontinue support claude-code@v1
  package.json
  pnpm-lock.yaml
  src/lib/i18n/locales/en/messages.additions.json
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.additions.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.additions.json
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/i18n/locales/zh_CN/messages.ts
  src/server/core/claude-code/functions/fallbackSdkMessage.ts
  src/server/core/claude-code/models/ClaudeCode.ts
  src/server/core/claude-code/services/ClaudeCodeLifeCycleService.ts
Due: biome-lint, biome-format, lingui-extract

feat: add file content retrieval API endpoint
  src/server/core/file-system/functions/getFileContent.test.ts
  src/server/core/file-system/functions/getFileContent.ts
  src/server/core/file-system/presentation/FileSystemController.ts
  src/server/hono/route.ts
Due: biome-lint, biome-format, lingui-extract

feat: add file content viewer for Write/Edit tool history
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/AssistantConversationContent.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/FileContentDialog.tsx
  src/lib/api/queries.ts
  src/lib/conversation-schema/content/ToolUseContentSchema.ts
  src/lib/file-viewer/detectLanguage.ts
  src/lib/file-viewer/extractEditedFilePaths.test.ts
  src/lib/file-viewer/extractEditedFilePaths.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/i18n/locales/zh_CN/messages.ts
Due: biome-lint, biome-format, lingui-extract

refactor: add index.ts for file-viewer module and simplify imports
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/AssistantConversationContent.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/FileContentDialog.tsx
  src/lib/file-viewer/index.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
Due: biome-lint, biome-format, lingui-extract

fix: support viewing multiple edited files in file content dialog
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/AssistantConversationContent.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/FileContentDialog.tsx
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/i18n/locales/zh_CN/messages.ts
Due: biome-lint, biome-format, lingui-extract

init: fork as Clu Mission Control
  ROADMAP.md
  package.json
Due: biome-lint, biome-format

fix: add missing i18n translations for file content viewer
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
Due: biome-lint, biome-format

chore: compile lingui translations
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.ts
Due: biome-lint, biome-format, lingui-extract

chore: fix ccOptions default value to send
  src/app/projects/[projectId]/components/chatForm/ChatInput.tsx
  src/app/projects/[projectId]/components/chatForm/ClaudeCodeSettingsForm.tsx
  src/app/projects/[projectId]/components/chatForm/ccOptionsFormSchema.test.ts
  src/app/projects/[projectId]/components/chatForm/ccOptionsFormSchema.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
Due: biome-lint, biome-format, lingui-extract

feat: add edited files tab in sidebar and fix absolute path handling
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/FileContentDialog.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionSidebar/EditedFilesTab.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionSidebar/SessionSidebar.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionSidebar/schema.ts
  src/lib/file-viewer/extractAllEditedFiles.ts
  src/lib/file-viewer/index.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/i18n/locales/zh_CN/messages.ts
  src/server/core/file-system/functions/getFileContent.test.ts
  src/server/core/file-system/functions/getFileContent.ts
Due: biome-lint, biome-format, lingui-extract

refactor: simplify edited files tab to flat list with relative paths
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionSidebar/EditedFilesTab.tsx
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/i18n/locales/zh_CN/messages.ts
Due: biome-lint, biome-format, lingui-extract

feat: rebrand to Clu Mission Control with orange theme
  README.md
  index.html
  package.json
  public/favicon.svg
  src/app/projects/page.tsx
  src/components/SystemInfoCard.tsx
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.ts
  src/routes/login.tsx
  src/routes/projects/$projectId/session.tsx
  src/server/core/session/services/ExportService.ts
  src/styles.css
Due: biome-lint, biome-format, lingui-extract

chore: mobile support for new ui
  src/app/components/AppLayout.tsx
  src/app/components/RightPanel.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/SessionPageContent.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/SessionPageMain.tsx
  src/app/projects/page.tsx
  src/hooks/useIsMobile.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
  src/server/core/claude-code/services/ClaudeCodeLifeCycleService.ts
Due: biome-lint, biome-format, lingui-extract

feat: implement terminal feature
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/components/BottomPanel.tsx
  src/app/components/TerminalPanel.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/SessionPageMainWrapper.tsx
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/i18n/locales/zh_CN/messages.ts
  src/server/core/platform/schema.ts
  src/server/core/platform/services/EnvService.ts
  src/server/core/terminal/TerminalService.ts
  src/server/startServer.ts
  src/server/terminal/terminalWebSocket.ts
  vite.config.ts
Due: biome-lint, biome-format, lingui-extract

perf: ui rendering & window resize
  src/app/components/AppLayout.tsx
  src/app/components/BottomPanel.tsx
  src/app/components/BrowserPreviewProvider.tsx
  src/app/components/LayoutPanelsProvider.tsx
  src/app/components/MarkdownLink.tsx
  src/app/components/RightPanel.tsx
  src/app/components/RightPanelProvider.tsx
  src/app/components/rightPanel/common/CollapsibleTodoSection.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/SessionPageContent.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionSidebar/SessionSidebar.tsx
  src/components/ResizableSidebar.tsx
  src/hooks/useBrowserPreview.ts
  src/hooks/useDragResize.ts
  src/hooks/useLayoutPanels.ts
  src/hooks/useRightPanel.ts
  src/lib/atoms/layoutPanels.ts
  src/lib/atoms/rightPanel.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/types/rightPanel.ts
  src/routes/__root.tsx
Due: biome-lint, biome-format, lingui-extract

chore: add scripts to update and validate translations
  scripts/i18n-check-key-equals-translation.sh
  scripts/put-transtation.js
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
Due: biome-lint, biome-format, lingui-extract

chore: add i18n skill and CI translation checks
  .claude/commands/i18n-fix.md
  .claude/skills/i18n/SKILL.md
  .codex/skills
  .github/workflows/ci.yml
  scripts/i18n-check-key-equals-translation.sh
Due: none

chore: update AGENTS.md
  AGENTS.md
Due: none

chore: document commit message rules
  AGENTS.md
  CLAUDE.md
Due: none

Adjust session list and panel defaults
  src/app/projects/[projectId]/sessions/[sessionId]/components/SessionPageMain.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionSidebar/SessionsTab.tsx
  src/lib/atoms/layoutPanels.ts
  src/lib/atoms/rightPanel.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
Due: biome-lint, biome-format, lingui-extract

chore: add lefthook pre-push checks
  lefthook.yml
Due: none

chore: adjust language guidance in agent docs
  AGENTS.md
  CLAUDE.md
Due: none

fix: handle result-only sessions and local command output
  src/app/projects/[projectId]/sessions/[sessionId]/components/SessionPageMain.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/ConversationItem.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/conversationList/ConversationList.tsx
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
  src/server/core/claude-code/services/ClaudeCodeLifeCycleService.ts
  src/server/core/claude-code/services/ClaudeCodeSessionProcessService.test.ts
  src/server/core/claude-code/services/ClaudeCodeSessionProcessService.ts
Due: biome-lint, biome-format, lingui-extract

fix: strip local command caveat from session titles
  src/app/projects/[projectId]/services/firstCommandToTitle.ts
Due: biome-lint, biome-format, lingui-extract

fix: ignore local command caveat in session titles
  src/server/core/claude-code/functions/parseUserMessage.test.ts
  src/server/core/claude-code/functions/parseUserMessage.ts
  src/server/core/session/functions/isValidFirstMessage.test.ts
  src/server/core/session/functions/isValidFirstMessage.ts
  src/server/core/session/services/SessionMetaService.ts
Due: biome-lint, biome-format, lingui-extract

feat: show session status beside title
  src/app/projects/[projectId]/sessions/[sessionId]/components/SessionPageMain.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionStatusBadge.test.ts
  src/app/projects/[projectId]/sessions/[sessionId]/components/sessionStatusBadge.ts
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/en/messages.ts
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/ja/messages.ts
  src/lib/i18n/locales/zh_CN/messages.json
  src/lib/i18n/locales/zh_CN/messages.ts
Due: biome-lint, biome-format, lingui-extract

chore: remove command name fallback
  src/app/projects/[projectId]/services/firstCommandToTitle.ts
Due: biome-lint, biome-format, lingui-extract

chore: update VRT capture states
  .github/workflows/vrt.yml
  e2e/captureSnapshot/session-detail.ts
  src/app/components/RightPanel.tsx
  src/app/components/SessionHistoryPopover.tsx
  src/app/components/rightPanel/GitTabContent.tsx
  src/app/projects/[projectId]/sessions/[sessionId]/components/resumeChat/ChatActionMenu.tsx
  src/lib/i18n/locales/en/messages.json
  src/lib/i18n/locales/ja/messages.json
  src/lib/i18n/locales/zh_CN/messages.json
  src/server/core/platform/schema.ts
  src/server/core/terminal/TerminalService.test.ts
  src/server/core/terminal/TerminalService.ts
Due: biome-lint, biome-format, lingui-extract

chore: stabilize VRT loading waits
  e2e/captureSnapshot/session-detail.ts
  e2e/utils/defineCapture.ts
  src/components/Loading.tsx
Due: biome-lint, biome-format, lingui-extract

fix: use CCV_ENV for dev mode
  Dockerfile
  README.md
  docker-compose.yml
  mock-global-claude-dir/projects/sample-project/fe5e1c67-53e7-4862-81ae-d0e013e3270b.jsonl
  package.json
  src/app/projects/[projectId]/components/chatForm/ccOptionsFormSchema.test.ts
  src/server/core/platform/ccvEnv.test.ts
  src/server/core/platform/ccvEnv.ts
  src/server/core/platform/schema.ts
  src/server/startServer.ts
  src/testing/layers/testPlatformLayer.ts
Due: biome-lint, biome-format, lingui-extract

chore: update pinact
  .github/workflows/pinact.yml
Due: none
